<div class="form-page">
  <mat-card class="container" *ngIf="storeData">
    <mat-card-content>
      <form [formGroup]="entryForm">
        <mat-form-field class="col-xs-12 col-sm-6 col-lg-2">
          <input formControlName="fullName" matInput class="fullName" placeholder="Fullname ...">
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6 col-lg-2">
          <mat-select formControlName="categoryId" placeholder="Category"
            (change)="filterData('products','categoryId', entryForm.get('categoryId').value)">
            <mat-option *ngFor="let category of storeData?.categories" [value]="category?.id">
              {{ category?.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6 col-lg-2">
          <mat-select formControlName="productId" placeholder="Product"
            (change)="filterData('orders','productId',entryForm.get('productId').value)">
            <mat-option *ngFor="let product of  products" [value]="product?.id">
              {{ product?.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6 col-lg-2">
          <mat-select formControlName="orderId" placeholder="Order">
            <mat-option *ngFor="let order of  orders" [value]="order?.id">
              {{ order?.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="btn-container col-xs-12 col-sm-6 col-lg-3">
          <button mat-raised-button mat-button color="primary" [disabled]="entryForm.invalid"
            (click)="submit()">Submit</button>
          <a mat-raised-button mat-button color="warn" [routerLink]="['/']">Cancel</a>
        </div>
      </form>
    </mat-card-content>

  </mat-card>
</div>