.form-page{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .fullName{
        text-transform: uppercase;
    }
    @media (min-width: 320px ) {
        .container {
            .mat-form-field{
                width: 100%;
            }
            .mat-raised-button{
                width: 100%;
                margin-bottom: 10px;
            }
        }
      }
      @media (min-width: 768px ) {
        .container {
            .mat-form-field{
                width: 300px;
            }
            .btn-container{
                display: inline-flex;
                justify-content: center;
                button{
                    margin: 10px;
                }
                a{
                    margin: 10px;
                }
            }
        }
      }
}