.main{
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
        margin: 0 auto;
        display: flex;
        .img{
            margin-top: 50%;
            border-radius: 50%;
        }
        
        @media (min-width: 320px ) {
            .img{
                height: 250px;
                width: 250px;
               
            }
        }
        
    }
}