<div class="confirmation-page">
  <mat-card>
    <mat-card-content>
      <h3>OFFICIAL RECIEPT</h3>
      <pre>
        {{formData | json}}
      </pre>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button mat-button color="primary" [routerLink]="['/form']">Back to Home</a>
    </mat-card-actions>
  </mat-card>
</div>